**Import Kebutuhan Library**

In [ ]:
import pandas as pd
import datetime

**Link web yang ingin di scraping**

In [ ]:
urls = "https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes"
kursurl = "http://kurs.dollar.web.id/"

**EKSTRAK dan SCRAP DATA DARI WEB WIKIPEDIA dan Kurs.dollar.web.id**

In [ ]:
kursIDR = pd.read_html(kursurl, index_col=0)[0]
kursIDR = kursIDR.loc['USD','Tengah']
kursIDR

15.306

In [ ]:
def bacahtml(url):
  df = pd.read_html(url,header=None)
  return df

**Transform Data yang sudah di ektrak**

In [ ]:
def transform(data):
  #Menambahkan angka di nomor urut
  data['No.'] = data.index+1

  #Menambahkan tahun
  data['tahun'] = '2021'

  #Mengubah dan membersihkan data string kemudian mengubahnya menjadi integer
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'].str.replace("$","")
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'].str.replace("miliar","")
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'].str.replace(" ","")
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'].astype(float)

  #ubah nilai mata uang menjadi 3 digit
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'].round()

  #Mengubah nilai mata uang menjadi rupiah
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'] * kursIDR

  #Mengubah nama kolom
  data = data.rename(columns={"No.":"Nomor Urut"})
  data = data.rename(columns={"Kekayaan bersih (USD)":"Kekayaan bersih (IDR - Triliun)"})
  return data

**LOAD DATA KE CSV**

In [ ]:
tanggal = datetime.datetime.now()
tanggal = tanggal.strftime("%d-%m-%Y")
def load (data,namafile):
  df = data.to_csv(f"{namafile} - {tanggal}")
  return df

**EKSEKUSI ETL - Ekstrak**

In [ ]:
data = bacahtml(urls)[1]
data

,No.,Nama,Kekayaan bersih (USD),Usia,Kebangsaan,Sumber kekayaan
0,NaN,Jeff Bezos,$177 miliar,57,Amerika Serikat,Amazon
1,NaN,Elon Musk,$151 miliar,49,Amerika Serikat,"Tesla, SpaceX"
2,NaN,Bernard Arnault & keluarga,$150 miliar,72,Prancis,LVMH
3,NaN,Bill Gates,$124 miliar,65,Amerika Serikat,Microsoft
4,NaN,Mark Zuckerberg,$97 miliar,36,Amerika Serikat,Meta Platforms
5,NaN,Warren Buffett,$96 miliar,90,Amerika Serikat,Berkshire Hathaway
6,NaN,Larry Ellison,$93 miliar,76,Amerika Serikat,Oracle Corporation
7,NaN,Larry Page,$91.5 miliar,48,Amerika Serikat,Alphabet Inc.
8,NaN,Sergey Brin,$89 miliar,47,Amerika Serikat,Alphabet Inc.
9,NaN,Mukesh Ambani,$84.5 miliar,63,India,Reliance Industries

**EKSEKUSI ETL - Transform**

In [ ]:
trans = transform(data)
trans.head()

<ipython-input-258-f6e7f7dffbcd>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Kekayaan bersih (USD)'] = data['Kekayaan bersih (USD)'].str.replace("$","")

,Nomor Urut,Nama,Kekayaan bersih (IDR - Triliun),Usia,Kebangsaan,Sumber kekayaan,tahun
0,1,Jeff Bezos,2709.162,57,Amerika Serikat,Amazon,2021
1,2,Elon Musk,2311.206,49,Amerika Serikat,"Tesla, SpaceX",2021
2,3,Bernard Arnault & keluarga,2295.900,72,Prancis,LVMH,2021
3,4,Bill Gates,1897.944,65,Amerika Serikat,Microsoft,2021
4,5,Mark Zuckerberg,1484.682,36,Amerika Serikat,Meta Platforms,2021

**EKSEKUSI ETL - LOAD**

In [ ]:
load(trans,'Data_orang_terkaya.csv')